# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [4]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [1]:
# Load data here
READFROM="data/listings.csv"
df = pd.read_csv(READFROM)

df.head()

NameError: name 'pd' is not defined

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [2]:
# 1. How many listings are there with a price less than 100? 

comparator = df['price'] < 100
# len(list(filter(lambda x: x==True, comparator)))
len(df[comparator])

NameError: name 'df' is not defined

In [3]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.


# gb = df.groupby('neighbourhood_group')
# dir(gb)

brooklyn_comparator = df["neighbourhood_group"] == "Brooklyn"
# print(brooklyn_comparator)

# count_brooklyn = len(list(filter(lambda x: x==True, brooklyn_comparator)))
count_brooklyn = len(df[brooklyn_comparator])
print("count of listings in Brooklyn", count_brooklyn)

NameError: name 'df' is not defined

In [4]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

in_brooklyn = df["neighbourhood_group"] == "Brooklyn"

less_100 = df["price"] < 100

# Select all data that meets condition 1 or condition 2
# df[ in_brooklyn & less_100]

len(df[in_brooklyn & less_100])

NameError: name 'df' is not defined

In [5]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
host_names = ["Michael", "David", "John", "Daniel"]

chosen_ones = df.host_name.isin(host_names)
print(len(df[chosen_ones]))

NameError: name 'df' is not defined

In [6]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
def adjust_price_william(x):
#     print(x)
    if "Williamsburg" == str(x):
        return 100
    else:
        return 0
    
df["adjusted_price"] = df["price"]
df['adjusted_price'] += df['neighbourhood'].apply(adjust_price_william)

NameError: name 'df' is not defined

In [7]:
df.head(50)

NameError: name 'df' is not defined

In [8]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  

# shared_type = df["room_type"] == "Shared room"
# private_type = df["room_type"] == "Private Room"

class ROOM():
    SHARED = "Shared room"
    PRIVATE = "Private room"

def getPercentage(dataFrame, category):
    type_cond = df["room_type"] == category
    return len(dataFrame[type_cond])/len(dataFrame)

print(f"Percentage Private: {getPercentage(df, ROOM.PRIVATE)}\nShared: {getPercentage(df, ROOM.SHARED)}")

NameError: name 'df' is not defined

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [21]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.

gb = df.groupby("neighbourhood_group")
print(gb.size())

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
dtype: int64

In [22]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


gb = df.groupby("neighbourhood_group")
print(gb["price"].mean())

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [23]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


gb = df.groupby("neighbourhood_group")
print(gb["price"].agg(["min", "max"]))

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [24]:
# 4. Using `groupby`, find the mean price for each room type in each neighbourhood_group.


gb = df.groupby("room_type")
print(gb["price"].mean())

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [25]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.



gb = df.groupby("room_type")
print(gb["price"].agg(["count", "min", "max", "mean", "median", "std"]))

                 count  min    max        mean  median         std
room_type
Entire home/apt  23998    0  10000  199.395950     150  337.657116
Hotel room         398    0   2211  275.015075     192  301.658021
Private room     21144   10  10000   91.453084      65  282.450148
Shared room        987   10  10000   87.063830      46  354.048373

# Join and file saving.
1. Load the `prices.csv` and the `n_listings.csv`


2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']
       
       
3. Save your joined csv as `joined.csv`


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [47]:
# 1. Load the `prices.csv` and the `n_listings.csv`
# Load data here
LISTINGSREAD="data/n_listings.csv"
dflisting = pd.read_csv(LISTINGSREAD, sep=';')

PRICESREAD="data/prices.csv"
priceslisting = pd.read_csv(PRICESREAD)

# priceslisting.head()
dflisting.head()

# neighbourhood_group

new_df = pd.merge(dflisting, priceslisting, on="neighbourhood_group")
print(new_df.head())
# #

  neighbourhood_group  n_listings   mean_price
0               Bronx        1183    92.751479
1            Brooklyn       18632   120.225258
2           Manhattan       20580   191.880466

In [45]:
priceslisting.head()

  neighbourhood_group   mean_price
0               Bronx    92.751479
1            Brooklyn   120.225258
2           Manhattan   191.880466
3              Queens    99.754965
4       Staten Island   110.947214

In [46]:
dflisting.head()

  neighbourhood_group  n_listings
0               Bronx        1183
1            Brooklyn       18632
2           Manhattan       20580
3          LongIsland        4121

In [49]:
# 2. Do join that keeps all the records for each table.

new_df = pd.merge(dflisting, priceslisting, on="neighbourhood_group", how='outer')
print(new_df.head())

  neighbourhood_group  n_listings   mean_price
0               Bronx      1183.0    92.751479
1            Brooklyn     18632.0   120.225258
2           Manhattan     20580.0   191.880466
3          LongIsland      4121.0          NaN
4              Queens         NaN    99.754965

In [50]:

save_as = 'my-data-file.csv'

# This is the method you use, DONT FORGET INDEX=FALSE!
# Index are the numbers
new_df.to_csv(save_as, index=False)

# Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [64]:

FILEPATH_GRAMMY="data/grammys.csv"
df = pd.read_csv(FILEPATH_GRAMMY, sep=",")
df.head(50)

,year,category,nominee,workers,winner
0,1959,Album of the Year,The Music from Peter Gunn.,Henry Mancini,True
1,1959,Best Album Cover,Only the Lonely,Frank Sinatra (art director),True
2,1959,Best Arrangement,The Music From Peter Gunn,Henry Mancini (artist/arranger),True
3,1959,Best Classical Performance - Chamber Music (in...,Beethoven: Quartet 130,"The Hollywood String Quartet, Paul Shure (arti...",True
4,1959,Best Classical Performance - Instrumentalist (...,Segovia Golden Jubilee,Andrés Segovia,True
5,1959,Best Classical Performance - Instrumentalist (...,Segovia Golden Jubilee,Andrés Segovia (artist),True
6,1959,Best Classical Performance - Instrumentalist (...,Tchaikovsky: Piano Concerto No. 1 In B Flat Mi...,Van Cliburn (piano) (artist),True
7,1959,Best Classical Performance - Operatic or Choral,Virtuoso,Robert Wagner (choir director),True
8,1959,Best Classical Performance - Orchestra,Gaiete Parisienne,Felix Slatkin (conductor) (artist),True
9,1959,Best Classical Performance - Vocal Soloist (wi...,Operatic Recital,Renata Tebaldi (soprano) (artist),True
10,1959,Best Comedy Performance,The Chipmunk Song,Ross Bagdasarian (artist),True
11,1959,Best Country & Western Performance,Tom Dooley,The Kingston Trio (artist),True
12,1959,Best Country and Western Performance,Tom Dooley.,The Kingston Trio,True
13,1959,Best Engineered Record (Classical),Duets with a Spanish Guitar,"Laurindo Almeida, Salli Terri, Sherwood Hall III",True
14,1959,Best Engineered Record - Non-Classical,The Chipmunk Song,"Ross Bagdasarian (as David Seville), Ted Keep ...",True
15,1959,Best Instrumental Arrangement,The Music from Peter Gunn.,Henry Mancini,True
16,1959,Best Instrumental Composition,Cross Country Suite.,Nelson Riddle,True
17,1959,"Best Jazz Performance, Group",Basie.,Count Basie,True
18,1959,"Best Jazz Performance, Individual",Ella Fitzgerald Sings the Duke Ellington Songb...,Ella Fitzgerald,True
19,1959,Best Musical Composition First Recorded and Re...,Cross Country Suite,Nelson Riddle (artist/composer),True
20,1959,Best Original Cast Album (Broadway or TV),The Music Man,"Robert Preston, Barbara Cook, David Burns, Edd...",True
21,1959,Best Performance by a Dance Band,Basie,Count Basie (artist),True
22,1959,Best Performance by a Vocal Group or Chorus,That Old Black Magic,"Keely Smith, Louis Prima",True
23,1959,Best Performance by an Orchestra - for Other T...,Billy May's Big Fat Brass,Billy May,True
24,1959,"Best Performance, Documentary or Spoken Word",The Best Of The Stan Freberg Shows,Stan Freberg (narrator),True
25,1959,Best R&B Vocal Performance by a Duo or Group,Tequila,"The Champs, Gene Alden, Buddy Bruce, Dave Burg...",True
26,1959,Best Recording for Children,The Chipmunk Song (Christmas Don't Be Late),Ross Bagdasarian,True
27,1959,Best Rhythm & Blues Performance,Tequila,The Champs (artist),True
28,1959,"Best Sound Track Album, Dramatic Picture Score...",Gigi,André Previn (artist),True
29,1959,"Best Soundtrack Album, Dramatic Picture Score ...",Gigi,André Previn,True
30,1959,"Best Soundtrack Album, Dramatic Picture Score ...",I Want to Live!,Johnny Mandel,False
31,1959,"Best Soundtrack Album, Dramatic Picture Score ...",The Bridge on the River Kwai,Malcolm Arnold,False
32,1959,"Best Vocal Performance, Female",Ella Fitzgerald,NaN,True
33,1959,"Best Vocal Performance, Male",Perry Como,NaN,True
34,1959,Record of the Year,Nel Blu Dipinto di Blu (Volare).,Domenico Modugno,True
35,1959,Song of the Year,Nel Blu Dipinto di Blu (Volare).,Domenico Modugno,True
36,1961,Album of the Year,The Button-Down Mind of Bob Newhart,Bob Newhart,True
37,1961,Best Album Cover,Latin A La Lee.,"Marvin Schwartz (art director), Peggy Lee (art...",True
38,1961,Best Album Created For Children,Let's All Sing With The Chipmunks.,Ross Bagdasarian,True
39,1961,Best Arrangement,Mr. Lucky.,Henry Mancini (artist/arranger),True
40,1961,Best Classical Opera Production,Puccini: Turandot.,"Erich Leinsdorf (artist), Rome Opera Orchestra...",True
41,1961,Best Classical Performance - Vocal Or Instrume...,Conversations With The Guitar.,Laurindo Almeida (artist),True
42,1961,Best Classical Performance- Choral (Including ...,Handel: Messiah.,"Royal Philharmonic Orchestra (artists), Royal ...",True
43,1961,Best Classical Performance- Concerto Or Instru...,Brahms: Piano Concerto No. 2 In B Flat.,"Svyatoslav Richter (artist), Chicago Symphony ...",True
44,1961,Best Classical Performance- Instrumental Soloi...,The Spanish Guitars Of Laurindo Almeida.,Laurindo Almeida (artist),True
45,1961,Best Classical Performance- Orchestra,"Bartók: Music For Strings, Percussion And Cele...",Chicago Symphony Orchestra (artists),True
46,1961,Best Classical Performance- Vocal Soloist,A Program Of Song - Leontyne Price Recital.,Leontyne Price (artist),True
47,1961,Best Comedy Performance - Musical,Jonathan And Darlene Edwards In Paris.,"Paul Weston (artist), Jo Stafford (artist)",True
48,1961,Best Comedy Performance - Spoken Word,The Button-Down Mind Strikes Back!.,Bob Newhart,True
49,1961,Best Contemporary Classical Composition,Copland: Orchestral Suite From Tender Land Suite.,Aaron Copland (composer),True

In [72]:
#  1. Who was won Album of the Year in 2016?


cond_year = df["year"] == 2016
cond_category = df["category"] == "Album of the Year"
cond_winner = df["winner"] == True



df[cond & cond_winner & cond_category]

,year,category,nominee,workers,winner
5505,2016,Album of the Year,1989.,"Taylor Swift (artist/producer), Jack Antonoff ...",True

In [71]:
# 2. Who won Best Rap Album in 2009?

cond_year = df["year"] == 2009
cond_category = df["category"] == "Best Rap Album"
cond_winner = df["winner"] == True



df[cond & cond_winner & cond_category]

      year        category               nominee         workers  winner
5596  2016  Best Rap Album  To Pimp a Butterfly.  Kendrick Lamar    True

In [70]:
# 3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

cond_nominee = df["workers"] == "Kendrick Lamar"
cond_winner = df["winner"] == True

print(f"Awards Kendrick was nominated for: {df[cond_nominee].shape[0] }\nAwards won: ")

df[cond_winner & cond_nominee]

Awards Kendrick was nominated for: 6
Awards won:

      year              category               nominee         workers  winner
5448  2015  Best Rap Performance                    i.  Kendrick Lamar    True
5596  2016        Best Rap Album  To Pimp a Butterfly.  Kendrick Lamar    True
5599  2016  Best Rap Performance              Alright.  Kendrick Lamar    True
6003  2018  Best Rap Performance               HUMBLE.  Kendrick Lamar    True